body {
    margin: 0;
    background-color: rgba(219, 161, 180, 0.621);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.heading{
    display: flex;    
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #641c15;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20%;
    align-items: center;
    height: 90vh;
    box-sizing: border-box;
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
    gap: 7%;
}

.large-area{
    height: 100%;
    border-radius: 2%;
}

#inputArea1, #lineNumber {
    font-family: lucida console, courier new, courier, monospace;
    margin: 0;
    padding: 10px 0;
    height: 75vh;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#lineNumber:focus-visible,
#inputArea1:focus-visible {
    outline:none;
}

#lineNumber {
    display: flex;
    border-color: transparent;
    overflow-y: hidden;
    text-align: right;
    box-shadow: none;
    color: #604e4e;
    background-color: #d8d8d8;
    position: absolute;
    width: 2.5rem;
    /* Determine appearance of line counter */
    background-color:#d1cccc;
    border-color:#c2a5a5;
    color:#875a5a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#inputArea1 {
    padding-left: calc(3.5rem + 5px);
    width:100%;
    background-color:#faf9f9;
    border-color:#c2a5a5;
    color:#875a5a;
    border-radius: 10px;
}

#inputArea2, #lineNumber2 {
    font-family: lucida console, courier new, courier, monospace;
    margin: 0;
    padding: 10px 0;
    height: 75vh;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#lineNumber2:focus-visible,
#inputArea2:focus-visible {
    outline:none;
}

#lineNumber2 {
    display: flex;
    border-color: transparent;
    overflow-y: hidden;
    text-align: right;
    box-shadow: none;
    color:  #604e4e;
    background-color: #d8d8d8;
    position: absolute;
    width: 2.5rem;
    /* Determine appearance of line counter */
    background-color:#d1cccc;
    border-color: #c2a5a5;
    color:#875a5a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#inputArea2 {
    padding-left: calc(3.5rem + 5px);
    width:100%;
    background-color:#faf9f9;
    border-color:#c2a5a5;
    color:#875a5a;
    border-radius: 10px;
}

.json-key{
  color : lightblue;
}

.string{
  color:red;
}















.controls{
    display: flex;    
    justify-content: right;
    padding-right: 7%;
}

button.control-button--cleartext {
    margin-right: 20px;
    margin-left: 20px;
}


.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}
